<!DOCTYPE html>
<html style="" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"> <title>DSRC OBE Interface</title> <meta charset="utf-8"> <meta name="viewport" content="width=device-width,initial-scale=1"> <link rel="stylesheet" href="obu_files/combined.css"> <!-- Templates --> <script type="text/template" id="gpio-status-view-template"> <table style="width: 100%; padding: 5px; text-align: center;">
  <tr style="background-color: #f1f1c1;">
  <th style="width: 33%; text-align: center;"><%- status[0].name %></th>
  <th style="width: 33%; text-align: center;"><%- status[1].name %></th>
  <th style="width: 33%; text-align: center;"><%- status[2].name %></th>
  </tr>
  <tr>
  <th style="width: 33%; text-align: center; color:<%- status[0].textColor %>;background-color:<%- status[0].backgroundColor %>;"><%- status[0].status %></th>
  <th style="width: 33%; text-align: center; color:<%- status[1].textColor %>;background-color:<%- status[1].backgroundColor %>;"><%- status[1].status %></th>
  <th style="width: 33%; text-align: center; color:<%- status[2].textColor %>;background-color:<%- status[2].backgroundColor %>;"><%- status[2].status %></th>
  </tr>
  </table> </script> <script type="text/template" id="item-template"> <div class="col-xs-4"><%- name %></div>
  <div class="col-xs-2 columnNormal "><%- id %></div>
  <div class="col-xs-4 columnRight " style="color: <%- color %>; font-style: <%- fontStyle %>; text-decoration: <%- textDecoration %>;"><%- timestampString %></div> </script> <script type="text/template" id="admin-view-template"> <div class="row" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">Vehicle Info</div>
  <div class="rows--beige rows--bold" style="font-size: 13px;">

  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">Role:</div>
  <div class="col-xs-4 columnNormal columnPad"><%= apps.onboard.vehicle.role %></div>
  <div class="col-xs-3 columnNormal columnRight">Id:</div>
  <div class="col-xs-2 columnNormal columnPad"><%= apps.onboard.vehicle.tempId %></div>
  </div>

  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">Name:</div>
  <div class="col-xs-9 columnLongText"><%= apps.onboard.vehicle.name %></div>
  </div>

  <div class="row" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">Message Operations</div>
  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">DSRC manufacturer:</div>
  <div class="col-xs-4 columnNormal columnPad"><%= apps.dsrc.manufacturer %></div>
  </div>

  <div class="row" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">Operations</div>
  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">TSP algorithm:</div>
  <div class="col-xs-4 columnNormal columnPad"><%= apps.onboard.eprg.algorithm %></div>
  </div>

  <div id="UTA-params">
  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">Bus port:</div>
  <div class="col-xs-4 columnNormal columnPad"><%= apps.onboard.eprg.uta.ports.bus %></div>

  <div class="col-xs-3 columnNormal columnRight">Occ threshold:</div>
  <div class="col-xs-2 columnNormal columnPad"><%= apps.onboard.eprg.uta.occupancy %></div>
  </div>
  </div>

  <div id="GPIO-params" class="rows--beige rows--bold" style="font-size: 13px;">
  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">GPIO input:</div>
  <div class="col-xs-4 columnNormal columnPad"><%= apps.onboard.eprg.gpio.inputNumber %></div>
  </div>
  </div>

  <div id="UTA-portable-params">
  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">Late threshold:</div>
  <div class="col-xs-2 columnNormal columnPad"><%= apps.onboard.eprg.portable.behindSeconds %></div>

  <div class="col-xs-3 columnNormal columnRight">Age threshold:</div>
  <div class="col-xs-2 columnNormal columnPad"><%= apps.onboard.eprg.portable.dataAgeSeconds %></div>

  <div class="col-xs-3 columnNormal columnRight">API URL:</div>
  <div class="col-xs-9 columnLongText columnPad"><%= apps.onboard.eprg.portable.api.url %></div>

  <div class="col-xs-3 columnNormal columnRight">API Interval:</div>
  <div class="col-xs-2 columnNormal columnPad"><%= apps.onboard.eprg.portable.api.interval %></div>

  <div class="col-xs-3 columnNormal columnRight">API port:</div>
  <div class="col-xs-2 columnNormal columnPad"><%= apps.onboard.eprg.portable.api.port %></div>
  </div>
  </div>

  </div> </script> <script type="text/template" id="admin-edit-template"> <datalist id="vehicle-roles">
  <option value="transit">
  <option value="dot">
  </datalist>
  <datalist id="tsp-algorithms">
  <option value="gpio-plow">
  <option value="none">
  <option value="uta">
  <option value="uta-portable">
  </datalist>
  <datalist id="manufacturers">
  <option value="Cohda">
  <option value="Lear">
  </datalist>

  <div class="row" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">Vehicle Info</div>
  <div class="rows--beige rows--bold" style="font-size: 13px;">

  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">Role:</div>
  <input list="vehicle-roles" class="required-entry" id="vehicleRole" onchange="configurationChange()" value=<%= apps.onboard.vehicle.role %> >
  </div>

  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">Id:</div>
  <input type="text" class="entry-field" id="vehicleTempId" onchange="configurationChange()" value="<%= apps.onboard.vehicle.tempId %>" >
  </div>

  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">Name:</div>
  <input type="text" class="entry-field" id="vehicleName" onchange="configurationChange()" value="<%= apps.onboard.vehicle.name %>" >
  </div>
  </div>

  <div class="row" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">Message Operations</div>
  <div class="rows--beige rows--bold" style="font-size: 13px;">

  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">DSRC manufacturer:</div>
  <input list="manufacturers" class="required-entry" style="width: 60%;" id="manufacturer" onchange="configurationChange()" value=<%= apps.dsrc.manufacturer %> >
  </div>

  </div>

  <div class="row" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">Operations</div>
  <div class="rows--beige rows--bold" style="font-size: 13px;">

  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">TSP algorithm:</div>
  <input list="tsp-algorithms" class="required-entry" style="width: 60%;" id="tspAlgorithm" onchange="configurationChange()" value=<%= apps.onboard.eprg.algorithm %> >
  </div>

  <div id="UTA-edits" class="rows--beige rows--bold">
  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">Bus port:</div>
  <input type="text" class="entry-field" id="utaBusPort" onchange="configurationChange()" value="<%= apps.onboard.eprg.uta.ports.bus %>" >
  </div>
  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">Occ threshold:</div>
  <input type="text" class="entry-field" id="utaOccupancy" onchange="configurationChange()" value="<%= apps.onboard.eprg.uta.occupancy %>" >
  </div>
  </div>

  <div id="UTA-portable-edits" class="rows--beige">

  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">Late threshold:</div>
  <input type="text" class="entry-field" id="utaPortableApiLateSeconds" onchange="configurationChange()" value="<%= apps.onboard.eprg.portable.behindSeconds %>" >
  </div>

  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">Age threshold:</div>
  <input type="text" class="entry-field" id="utaPortableApiDataAgeSeconds" onchange="configurationChange()" value="<%= apps.onboard.eprg.portable.dataAgeSeconds %>" >
  </div>

  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">API URL:</div>
  <input type="text" class="entry-field" id="utaPortableApiUrl" onchange="configurationChange()" value="<%= apps.onboard.eprg.portable.api.url %>" >
  </div>

  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">API port:</div>
  <input type="text" class="entry-field" id="utaPortableApiPort" onchange="configurationChange()" value="<%= apps.onboard.eprg.portable.api.port %>" >
  </div>

  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">API interval:</div>
  <input type="text" class="entry-field" id="utaPortableApiInterval" onchange="configurationChange()" value="<%= apps.onboard.eprg.portable.api.interval %>" >
  </div>

  </div>

  <div id="GPIO-edits" class="rows--beige rows--bold">
  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">GPIO input #:</div>
  <input type="text" class="entry-field" id="gpioInputNumber" onchange="configurationChange()" value="<%= apps.onboard.eprg.gpio.inputNumber %>" >
  </div>
  </div>

  </div>
  <div>
  <button type="button" name="save" class="savebtn" id="save-configuration" onclick="saveConfiguration()">Save</button>
  <button type="button" name="cancel" class="cancelbtn" id="cancel-configuration" onclick="cancelConfiguration()">Cancel</button>
  </div> </script> <script src="obu_files/scripts.js"></script> <script> $( function() {
        $( "#tabs" ).tabs();
      } ); </script> </head> <body> <div class="container-fluid header"> <div> <ul> <li id="sign-in-button"> <button type="button" name="login" id="login-header" onclick="revealLogin()" title="login"> <i class="fa fa-sign-in fa-2x"></i> </button> </li> <li id="sign-out-button" style="display: none;"> <button type="button" name="logout" id="logout-header" onclick="onLogout()" title="logout"> <i class="fa fa-sign-out fa-2x"></i> </button> </li> <li style="padding-left:10px;"><h3>DSRC OBE UI</h3></li> <li id="toggle-relay-button" style="float: right; display: none;"> <button type="button" name="logout" id="logout-header" onclick="onToggleRelay()" title="toggle relay"> <i class="fa fa-gavel fa-2x" style="color: red"></i> </button> </li> </ul> </div> </div> <div id="login-div" class="login-div" style="display: none;"> <form class="login-form" id="login-form" method="get" action="login"> <fieldset> <label>Username:</label> <input type="text" name="username" id="login-username"> <label>Password:</label> <input type="password" name="password" id="login-password"> <span> <button type="button" name="login-login" id="login-login" onclick="onLogin()">Login</button> <button type="button" style="float: right" name="login-cancel" id="login-cancel" onclick="onLoginCancel()">Cancel</button> </span> </fieldset> </form> </div> <div class="container-fluid"> <div id="map_canvas" class="map-container"> <div id="mapid" class="mapid leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"><div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);"><div class="leaflet-pane leaflet-tile-pane"><div class="leaflet-layer " style="z-index: 2; opacity: 1;"><div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 23; transform: translate3d(0px, 0px, 0px) scale(1);"><img alt="" role="presentation" src="obu_files/lyrssx12407y24626z16.jpeg" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(225px, 147px, 0px); opacity: 1;"><img alt="" role="presentation" src="obu_files/lyrssx12407y24627z16.jpeg" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(225px, 403px, 0px); opacity: 1;"><img alt="" role="presentation" src="obu_files/lyrssx12406y24626z16.jpeg" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-31px, 147px, 0px); opacity: 1;"><img alt="" role="presentation" src="obu_files/lyrssx12408y24626z16.jpeg" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(481px, 147px, 0px); opacity: 1;"><img alt="" role="presentation" src="obu_files/lyrssx12406y24627z16.jpeg" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-31px, 403px, 0px); opacity: 1;"><img alt="" role="presentation" src="obu_files/lyrssx12408y24627z16.jpeg" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(481px, 403px, 0px); opacity: 1;"><img alt="" role="presentation" src="obu_files/lyrssx12407y24625z16.jpeg" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(225px, -109px, 0px); opacity: 1;"><img alt="" role="presentation" src="obu_files/lyrssx12407y24628z16.jpeg" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(225px, 659px, 0px); opacity: 1;"><img alt="" role="presentation" src="obu_files/lyrssx12406y24625z16.jpeg" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-31px, -109px, 0px); opacity: 1;"><img alt="" role="presentation" src="obu_files/lyrssx12408y24625z16.jpeg" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(481px, -109px, 0px); opacity: 1;"><img alt="" role="presentation" src="obu_files/lyrssx12406y24628z16.jpeg" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-31px, 659px, 0px); opacity: 1;"><img alt="" role="presentation" src="obu_files/lyrssx12408y24628z16.jpeg" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(481px, 659px, 0px); opacity: 1;"></div></div></div><div class="leaflet-pane leaflet-shadow-pane"></div><div class="leaflet-pane leaflet-overlay-pane"></div><div class="leaflet-pane leaflet-marker-pane"><div class="leaflet-marker-icon marker-vehicle leaflet-zoom-animated leaflet-interactive" style="margin-left: -6px; margin-top: -6px; width: 12px; height: 12px; transform: translate3d(247px, 360px, 0px); z-index: 1360;" tabindex="0"><span class="far fa-bus"></span></div></div><div class="leaflet-pane leaflet-tooltip-pane"></div><div class="leaflet-pane leaflet-popup-pane"></div><div class="leaflet-proxy leaflet-zoom-animated" style="transform: translate3d(3176210px, 6304470px, 0px) scale(32768);"></div></div><div class="leaflet-control-container"><div class="leaflet-top leaflet-left"><div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in" href="#" title="Zoom in" role="button" aria-label="Zoom in">+</a><a class="leaflet-control-zoom-out" href="#" title="Zoom out" role="button" aria-label="Zoom out">−</a></div><div class="leaflet-bar easy-button-container leaflet-control"><button class="easy-button-button leaflet-bar-part leaflet-interactive unnamed-state-active" type="button" title="clear map markers"><span class="button-state state-unnamed-state unnamed-state-active"><span class="fa fa-remove fa-lg"></span></span></button></div><div class="leaflet-bar easy-button-container leaflet-control"><button class="easy-button-button leaflet-bar-part leaflet-interactive unnamed-state-active" type="button" title="center vehicle"><span class="button-state state-unnamed-state unnamed-state-active"><span class="fa fa-bullseye fa-lg"></span></span></button></div><div class="leaflet-bar easy-button-container leaflet-control"><button class="easy-button-button leaflet-bar-part leaflet-interactive pan-map-active" type="button" title="stop panning map"><span class="button-state state-pan-map pan-map-active"><span class="fa fa-location-arrow fa-lg"></span></span></button></div></div><div class="leaflet-top leaflet-right"><div class="leaflet-control-layers leaflet-control" aria-haspopup="true"><a class="leaflet-control-layers-toggle" href="#" title="Layers"></a><form class="leaflet-control-layers-list"><div class="leaflet-control-layers-base"><label><div><input type="radio" class="leaflet-control-layers-selector" name="leaflet-base-layers"><span> Esri</span></div></label><label><div><input type="radio" class="leaflet-control-layers-selector" name="leaflet-base-layers" checked="checked"><span> Google Satellite</span></div></label><label><div><input type="radio" class="leaflet-control-layers-selector" name="leaflet-base-layers"><span> OpenStreetMap</span></div></label></div><div class="leaflet-control-layers-separator"></div><div class="leaflet-control-layers-overlays"><label><div><input type="checkbox" class="leaflet-control-layers-selector"><span> BSM</span></div></label><label><div><input type="checkbox" class="leaflet-control-layers-selector"><span> MAP lane lines</span></div></label><label><div><input type="checkbox" class="leaflet-control-layers-selector"><span> MAP lane polygons</span></div></label><label><div><input type="checkbox" class="leaflet-control-layers-selector" checked="checked"><span> MAP nodes</span></div></label><label><div><input type="checkbox" class="leaflet-control-layers-selector" checked="checked"><span> MAP ref points</span></div></label><label><div><input type="checkbox" class="leaflet-control-layers-selector" checked="checked"><span> SRM</span></div></label></div></form></div></div><div class="leaflet-bottom leaflet-left"><div class="leaflet-control-scale leaflet-control"><div class="leaflet-control-scale-line" style="width: 55px;">100 m</div><div class="leaflet-control-scale-line" style="width: 84px;">500 ft</div></div></div><div class="leaflet-bottom leaflet-right"><div class="leaflet-control-attribution leaflet-control"><a href="http://leafletjs.com/" title="A JS library for interactive maps">Leaflet</a> | © Google</div></div></div></div> </div> <div id="tabs" class="tabs-container ui-tabs ui-corner-all ui-widget ui-widget-content"> <ul role="tablist" class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header"> <li role="tab" tabindex="0" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true"><a href="#tabs-1" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-1">Vehicle</a></li> <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-2" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false"><a href="#tabs-2" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-2">Maps</a></li> <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="tabs-3" aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false"><a href="#tabs-3" role="presentation" tabindex="-1" class="ui-tabs-anchor" id="ui-id-3">Config</a></li> </ul> <div id="tabs-1" class="panel panel-default ui-tabs-panel ui-corner-bottom ui-widget-content" style="padding-left: 5px; padding-right: 5px;" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false"> <div id="algorithmLabelText" class="panel-heading" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">None Algorithm</div> <div class="panel-body" id="statictext" style="padding-top: 0;"> <!-- <div class="rows--beige rows--bold" style="font-size: 13px;"> --> <div style="font-size: 13px;"> <div style="font-weight: bold;" id="algorithmStatusText">No EPRG, always run</div> <div id="GPIOs-content" style=""> <div id="gpio-status"> <table style="width: 100%; padding: 5px; text-align: center;">
  <tbody><tr style="background-color: #f1f1c1;">
  <th style="width: 33%; text-align: center;">request</th>
  <th style="width: 33%; text-align: center;">relay</th>
  <th style="width: 33%; text-align: center;">monitor</th>
  </tr>
  <tr>
  <th style="width: 33%; text-align: center; color:white;background-color:black;">OFF</th>
  <th style="width: 33%; text-align: center; color:white;background-color:black;">OFF</th>
  <th style="width: 33%; text-align: center; color:black;background-color:silver;">OFF</th>
  </tr>
  </tbody></table> </div> </div> </div> <div id="bus-data-div" style="display: none;"> <div class="row" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">UTA Bus Data</div> <div class="rows--beige rows--bold" style="font-size: 13px;"> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Occupancy:</div> <div class="col-xs-4 columnNormal columnPad" id="busOccupancyText"></div> <div class="col-xs-3 columnNormal columnRight">Type:</div> <div class="col-xs-2 columnNormal columnPad" id="busTypeText"></div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Eligible:</div> <div class="col-xs-4 columnNormal columnPad" id="busEligibleText"></div> <div class="col-xs-3 columnNormal columnRight">Reliability:</div> <div class="col-xs-2 columnNormal columnPad" id="busReliabilityText"></div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Veh Ref:</div> <div class="col-xs-9 columnLongText" style="font-weight: bold;" id="busVehRef"></div> </div> </div> </div> <div id="businfo-data-div" style="display: none;"> <div class="row" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">Bus Data</div> <div class="rows--beige rows--bold" style="font-size: 13px;"> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Timestamp:</div> <div class="col-xs-4 columnNormal columnPad" id="busInfoTimestamp"></div> <div class="col-xs-3 columnNormal columnRight">Speed:</div> <div class="col-xs-2 columnNormal columnPad" id="busInfoSpeed"></div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Location:</div> <div class="col-xs-4 columnLongText columnPad" id="busInfoLocText"></div> <div class="col-xs-3 columnNormal columnRight">Heading:</div> <div class="col-xs-2 columnNormal columnPad" id="busInfoHeading"></div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Vehicle:</div> <div class="col-xs-4 columnLongText columnPad" id="busInfoVehicleNumber"></div> <div class="col-xs-3 columnNormal columnRight">Block:</div> <div class="col-xs-2 columnNormal columnPad" id="busInfoBlock"></div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Route:</div> <div class="col-xs-4 columnNormal columnPad" id="busInfoRoute"></div> <div class="col-xs-3 columnNormal columnRight">Operator:</div> <div class="col-xs-2 columnNormal columnPad" id="busInfoOperatorNumber"></div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">FixTime:</div> <div class="col-xs-4 columnNormal columnPad" id="busInfoFixTime"></div> <div class="col-xs-3 columnNormal columnRight">Reliability:</div> <div class="col-xs-2 columnNormal columnPad" id="busInfoReliabilitySeconds"></div> </div> </div> </div> <div class="row" id="bsmLabelText" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">BSM Data - vehicle id 1001</div> <div class="rows--beige rows--bold" style="font-size: 13px;"> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Timestamp:</div> <div class="col-xs-4" style="padding-right: 0px;" id="bsmTimeText">11/27/16, 10:18:41:000</div> <div class="col-xs-3 columnNormal">Speed:</div> <div class="col-xs-2" id="bsmSpeedText">0 mph</div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Location:</div> <div class="col-xs-4 columnLongText" id="bsmLocText">40.7687/-111.8458</div> <div class="col-xs-3 columnNormal columnRight">Heading:</div> <div class="col-xs-2 columnNormal columnPad" id="bsmHeadingText">North</div> </div> </div> <div id="srmLabelText" class="row" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">SRM Data</div> <div class="rows--beige rows--bold" style="font-size: 13px;"> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Timestamp:</div> <div class="col-xs-4" style="padding-right: 0px;" id="srmTimeText"></div> <div class="col-xs-3">Speed:</div> <div class="col-xs-2 columnNormal columnPad" id="srmSpeedText"></div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Location:</div> <div class="col-xs-4 columnLongText" id="srmLocText"></div> <div class="col-xs-3 columnNormal columnRight">Heading:</div> <div class="col-xs-2 columnNormal columnPad" id="srmHeadingText"></div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Intersection:</div> <div class="col-xs-4 columnNormal columnPad" id="srmIntText"></div> <div class="col-xs-3 columnNormal columnRight">Inbound Lane:</div> <div class="col-xs-2 columnNormal columnPad" id="inLaneText"></div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Type:</div> <div class="col-xs-4 columnNormal columnPad" id="isCancelText"></div> <div class="col-xs-3">Request Id:</div> <div class="col-xs-2 columnNormal columnPad" id="srmReqIdText"></div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Name:</div> <div class="col-xs-4" style="padding-right: 0px;" id="srmRequestorName"></div> <div class="col-xs-3">Vehicle Id:</div> <div class="col-xs-2 columnNormal columnPad" id="srmRequestorVehicleIdText"></div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Role:</div> <div class="col-xs-4" style="padding-right: 0px;" id="srmRequestorRole"></div> <div class="col-xs-3">Subrole:</div> <div class="col-xs-2 columnNormal columnPad" id="srmRequestorSubrole"></div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">ETA:</div> <div class="col-xs-4 columnNormal columnPad" id="srmETAText"></div> <div class="col-xs-3 columnNormal columnRight">Elevation:</div> <div class="col-xs-2 columnNormal columnPad" id="srmElevText"></div> </div> </div> <div id="ssmLabelText" class="row" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">SSM Data</div> <div class="rows--beige rows--bold" style="font-size: 13px;"> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Timestamp:</div> <div class="col-xs-4" style="padding-right: 0px;" id="ssmTimeText"></div> <div class="col-xs-3 columnNormal columnRight">Seq Num:</div> <div class="col-xs-2 columnNormal columnPad" id="ssmSeqText"></div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Intersection:</div> <div class="col-xs-4 columnNormal columnPad" id="ssmIntText"></div> <div class="col-xs-3 columnNormal columnRight">Inbound Lane:</div> <div class="col-xs-2 columnNormal columnPad" id="ssmInlaneText"></div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Request Id:</div> <div class="col-xs-4 columnNormal columnPad" id="ssmReqIdText"></div> <div class="col-xs-3 columnNormal columnRight">Rq Seq Num:</div> <div class="col-xs-2 columnNormal columnPad" id="ssmReqSeqText"></div> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Status:</div> <div class="col-xs-4 columnNormal columnPad" id="ssmStatusText"></div> <div class="col-xs-3 columnNormal columnRight">Vehicle Id:</div> <div class="col-xs-2 columnNormal columnPad" id="ssmVehIdText"></div> </div> </div> <div class="row" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">SPaT Data</div> <div class="rows--beige rows--bold" style="font-size: 13px;"> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Timestamp:</div> <div class="col-xs-4 columnNormal columnPad" id="spatTimeText"></div> <!-- 	<div class="col-xs-3 columnNormal columnRight">Lane Count:</div> --> <!-- 	<div class="col-xs-2 columnNormal columnPad" id="spatLCountText"></div> --> </div> <div class="row"> <div class="col-xs-3 columnNormal columnRight">Intersection:</div> <div class="col-xs-4 columnNormal columnPad" id="spatIntText"></div> <!-- 	<div class="col-xs-3 columnNormal columnRight">Status:</div> --> <!-- 	<div class="col-xs-2 columnNormal columnPad" id="spatStatusText"></div> --> </div> <!-- <div class="row"> --> <!-- 	<div class="col-xs-3 columnNormal columnRight">Cntlr Time:</div> --> <!-- 	<div class="col-xs-9 columnLongText" id="spatDateText"></div> --> <!-- </div> --> </div> </div> </div> <div id="tabs-2" class="panel panel-default ui-tabs-panel ui-corner-bottom ui-widget-content" style="padding-left: 5px; padding-right: 5px; display: none;" aria-labelledby="ui-id-2" role="tabpanel" aria-hidden="true"> <div id="is-maps" class="panel-heading" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">MAPs Received</div> <div class="panel-body" style="padding:0 0 0 0px;"> <div id="is-maps-list" class="rows--beige rows--bold panel-body" style="padding:0 0 0 0px; overflow:auto;"><div class="row" style="margin-left: 0px; margin-right: 0px;"> <div class="col-xs-4">Narwhal_Office</div>
  <div class="col-xs-2 columnNormal ">1234</div>
  <div class="col-xs-4 columnRight " style="color: black; font-style: italic; text-decoration: line-through;">11/27/16, 10:18:50</div> </div></div> </div> </div> <div id="tabs-3" class="panel panel-default ui-tabs-panel ui-corner-bottom ui-widget-content" style="padding-left: 5px; padding-right: 5px; display: none;" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true"> <div id="admin-content" style="height: 100%; padding-left: 15px; padding-right: 15px;"> <div> <div id="admin-view"> <div class="row" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">Vehicle Info</div>
  <div class="rows--beige rows--bold" style="font-size: 13px;">

  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">Role:</div>
  <div class="col-xs-4 columnNormal columnPad">transit</div>
  <div class="col-xs-3 columnNormal columnRight">Id:</div>
  <div class="col-xs-2 columnNormal columnPad">1001</div>
  </div>

  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">Name:</div>
  <div class="col-xs-9 columnLongText">BUS #1001</div>
  </div>

  <div class="row" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">Message Operations</div>
  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">DSRC manufacturer:</div>
  <div class="col-xs-4 columnNormal columnPad">Lear</div>
  </div>

  <div class="row" style="height: 20px; padding:0 0 0 5px; font-size: 14px; background-color: #5A87C5; color:white;">Operations</div>
  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">TSP algorithm:</div>
  <div class="col-xs-4 columnNormal columnPad">none</div>
  </div>

  <div id="UTA-params" style="display: none;">
  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">Bus port:</div>
  <div class="col-xs-4 columnNormal columnPad">5150</div>

  <div class="col-xs-3 columnNormal columnRight">Occ threshold:</div>
  <div class="col-xs-2 columnNormal columnPad">0.2</div>
  </div>
  </div>

  <div id="GPIO-params" class="rows--beige rows--bold" style="font-size: 13px; display: none;">
  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">GPIO input:</div>
  <div class="col-xs-4 columnNormal columnPad">66</div>
  </div>
  </div>

  <div id="UTA-portable-params" style="display: none;">
  <div class="row">
  <div class="col-xs-3 columnNormal columnRight">Late threshold:</div>
  <div class="col-xs-2 columnNormal columnPad">300</div>

  <div class="col-xs-3 columnNormal columnRight">Age threshold:</div>
  <div class="col-xs-2 columnNormal columnPad">120</div>

  <div class="col-xs-3 columnNormal columnRight">API URL:</div>
  <div class="col-xs-9 columnLongText columnPad">http://api.rideuta.com/vehicleinfoapi/api/info/</div>

  <div class="col-xs-3 columnNormal columnRight">API Interval:</div>
  <div class="col-xs-2 columnNormal columnPad">10</div>

  <div class="col-xs-3 columnNormal columnRight">API port:</div>
  <div class="col-xs-2 columnNormal columnPad">6150</div>
  </div>
  </div>

  </div> </div> <!-- <button type="button" name="login-show" id="login-show">Login</button> --> </div> <div> <div id="admin-edit" style="display: none;"></div> </div> </div> </div> </div> </div> <div class="footer"> <div class="container-fluid" style="overflow: hidden"> <!-- <button style="float:right; padding-right: 5px; padding-left: 5px; width:80px; text-align:center;" type="button"  id="btnClear">Clear</button> --> <!-- <button style="float:right; padding-right: 5px; padding-left: 5px; width:80px; text-align:center;" type="button"  id="btnPause">Pause  </button> --> <textarea id="txtLogs" class="text-logs" readonly="readonly" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false">
connected: You are now connected!</textarea> <p style="float:right;">DSRC - OBE UI</p> </div> </div>    </body></html>